# Ignore Mac system files
.DS_store

# Ignore folders
__pycache__
projects/*
pymnet
plots_old

# Ignore test files
experiments_startin.py
experiments.py
PointInTriangle.py
TriangleRegionGraph.py
csv_loader.py

# Ignore file types
*.txt
*.cpg
*.dbf
*.shp
*.shx
*.prj
*.qpj
*.qgz
*.csv
*.pdf

# Ignore sources
triangle

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# add some example data, although it is .txt
!simulated_surface_points.txt
!img/*.pdf
!projects/placeholder
