# Ignore Mac system files
.DS_store

# Ignore folders
__pycache__
projects

# Ignore test files
experiments_startin.py
experiments.py
PointInTriangle.py
TriangleRegionGraph.py

# Ignore file types
*.txt
*.cpg
*.dbf
*.shp
*.shx
*.prj
*.qpj
*.qgz

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# add some example data
!simulated_surface_points.txt
