# Ignore Mac system files
.DS_store

# Ignore folders
node_modules
__pycache__
projects

# Ignore all files of type
default_db
notes
*.txt
*.cpg
*.dbf
*.shp
*.shx
*.prj
*.qpj
*.qgz

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache
